---
import Layout from "../layouts/Layout.astro";

---
<Layout title="About me">
  <section>
    <article>
      <p>
        I am a seasoned software engineer who embraces technology to make a positive impact on the world 🌎. 
      </p>
      <h2>
        About me
      </h2>
      <p>
        I am a Computer Science graduate with diverse experience across various industries and roles. I'm a technology enthusiast and self-learner and continuously explore new technologies and trends. I enjoy sharing my knowledge, and learning from others’ perspectives. I am always open to new challenges, especially in dynamic and innovative environments.
      </p>
      <h2>
        Technical Skills 📚
      </h2>
      <ul>
        <li>
          <b>
            Languages:
          </b>
          Javascript, Typescript, Go, Python, CSS, HTML
        </li>
        <li>
          <b>
            Frameworks & libraries: 
          </b>
          React, NextJs, NodeJs, Django, Gin Web Framework, Vue
        </li>
        <li>
          <b>
            Tools & platforms:
          </b>
          AWS, Google cloud, Github, Docker, Vercel
        </li>
        <li>
          <b>
            Data Science & AI:
          </b>
          Tensorflow, OpenAI, Gemini, Claude
        </li>
      </ul>
      <h2>
        Key Projects 🤖
      </h2>
      <ul>
        <li>
          <a href="https://github.com/cavilarts/AIgile">
            AIgile
          </a>
          An integrated platform that using AI helps Scrum masters and Product managers to generate boards and technical tasks.
        </li>
        <li>
          <a href="https://www.nissanusa.com/shopping-tools/search-inventory">
            Nissan Inventory
          </a>
          I have collaborated in Nissan car inventory global, this include Europa, Asia and Americas.
        </li>
        <li>
          <a href="https://www.southwest.com/air/low-fare-calendar">
            Southwest Low Fare Calendar
          </a>
          I have collaborated in the development of the low fare calendar for Southwest Airlines.
        </li>
        <li>
          <a href="https://usetmx.com/">
            TMX News
          </a>
           I was team lead in the development of the TMX News platform.
        </li>
      </ul>
      <h2>
        Professional goals 🚀
      </h2>
      <ul>
        <ul>
          <li>
            <b>
              Career Development:
            </b>
            Driven to grow in software development, I seek opportunities where I can leverage my leadership experience and technical skills to develop meaningful tech solutions that make a difference.
          </li>
          <li>
            <b>Continuous Learning:</b>
            Committed to lifelong learning, I keep pace with emerging technologies while consistently sharpening my coding abilities.
          </li>
          <li>
            <b>Community Engagement:</b>
            Passionate about sharing knowledge, I actively participate in tech communities, mentorship programs, and open-source projects.
          </li>
        </ul>
      </ul>
    </article>
  </section>
</Layout>