---
---
<section>
  <h1>Welcome to my blog</h1>
  <p>
    Hello, I am Carlos Avila and this is my blog.
  </p>
  <p>
    I am a software developer and I love to write about programming, web development, and other tech-related topics.
  </p>
  <p>
    Feel free to explore my posts and projects.
  </p>
  <ul>
    <li>
      <a href="/about">About me</a>
    </li>
    <li>
      <a href="/blog">Posts</a>
    </li>
    <!-- <li>
      <a href="/projects">Projects</a>
    </li> -->
  </ul>
</section>